body,
html {
  background-color: #f6f6f6;
  background-image: url("https://imgur.com/gqnpem9.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#intro {
  background-color: rgb(194, 194, 194, 0.7);
  text-align: center;
  padding: 0.5rem;
  margin: 1rem;
  margin-bottom: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#canvas {
  background-color: #fff4db;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  border: 15px solid #393939;
}

#toprow {
  height: 435px;
}

#middlerow {
  height: 15px;
}

#bottomrow {
  height: 150px;
}

#lefttopcolumn {
  width: 150px;
}

#bottomrightcolumn {
  width: 30px;
}

#bigbox {
  height: 435px;
  width: 435px;
}

#mediumbox {
  width: 150px;
  height: 210px;
}
#mediumbox2 {
  width: 150px;
  height: 210px;
}

#smallbox {
  width: 150px;
  height: 150px;
}

#widebox {
  width: 390px;
  height: 150px;
}

#tinybox {
  width: 30px;
  height: 67.5px;
}
#tinybox2 {
  width: 30px;
  height: 67.5px;
}

#divider1 {
  height: 435px;
  width: 15px;
}

#divider2 {
  height: 15px;
  width: 150px;
}

#divider3 {
  height: 150px;
  width: 15px;
}

#divider4 {
  height: 15px;
  width: 30px;
}
.color1 {
  background-color: #cc3333;
}

.color2 {
  background-color: #2f7fd8;
}

.color3 {
  background-color: #feda09;
}

.black {
  background-color: #393939;
}

.right {
  float: right;
}
